absl-py 
aiohttp 
aiosignal 
asttokens==2.1.0
astunparse 
async-timeout 
attrs 
backcall==0.2.0
beautifulsoup4 
bert-tensorflow 
blinker 
bokeh 
Brotli 
brotlipy 
cached-property 
cachetools 
certifi==2022.9.24
cffi 
charset-normalizer 
click==7.1.2
cloudpickle 
colorama 
contourpy 
convertdate 
cryptography 
css-html-js-minify 
cycler 
cytoolz 
dash 
dash-core-components 
dash-html-components 
dask 
debugpy==1.6.3
decorator==5.1.1
distributed 
emoji 
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
featuretools 
Flask==1.1.2
Flask-Compress 
flatbuffers 
fonttools 
freezegun 
frozenlist 
fsspec 
gast 
gensim 
google-auth 
google-auth-oauthlib 
google-pasta==0.2.0
graphviz==0.20.1
greenlet 
grpcio 
gunicorn==20.0.4
h5py 
HeapDict==1.0.1
hijri-converter 
holidays 
idna 
importlib-metadata 
ipykernel==6.17.1
ipython==8.6.0
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==2.11.3
joblib 
jplephem 
jsonschema==4.17.3
july==0.1.3
jupyter_client==7.4.7
jupyter_core==5.0.0
keras 
Keras-Preprocessing 
kiwisolver 
korean-lunar-calendar 
locket 
lunardate==0.2.0
lxml 
Markdown 
MarkupSafe==1.1.1
matplotlib 
matplotlib-inline==0.1.6
missingno==0.4.2
msgpack 
multidict 
munkres==1.1.4
nbformat==5.7.0
nest-asyncio==1.5.6
nltk 
numpy 
oauthlib 
opt-einsum 
p2j 
packaging 
pandas 
pandas-profiling==1.4.1
parso==0.8.3
partd 
patsy 
pickleshare==0.7.5
Pillow 
platformdirs==2.5.4
plotly 
prompt-toolkit==3.0.32
protobuf 
psutil 
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser 
pydot 
pydotplus 
Pygments==2.13.0
PyJWT 
pyluach 
PyMeeus 
PyMySQL 
pyOpenSSL 
pyparsing 
pyrsistent==0.19.2
PySastrawi==1.2.0
PySocks 
python-dateutil 
pytz 
pyu2f 
pywin32==305
PyYAML 
pyzmq==24.0.1
random-password-generator==2.2.0
regex 
requests 
requests-oauthlib 
rsa 
Sastrawi==1.0.1
scikit-learn 
scipy 
seaborn  
six 
skyfield 
skyfield-data 
smart-open 
sortedcontainers 
soupsieve 
SQLAlchemy 
SQLAlchemy-Utils==0.38.3
stack-data==0.6.1
statsmodels 
tblib 
tenacity 
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
tensorflow==2.9.1
tensorflow-estimator 
termcolor 
textblob==0.15.3
threadpoolctl 
toml==0.10.2
toolz 
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tornado 
tqdm 
traitlets==5.5.0
treelite==3.0.0
treelite-runtime==3.0.0
typing_extensions 
unicodedata2 
urllib3 
wcwidth==0.2.5
Werkzeug==1.0.1
win-inet-pton 
woodwork 
wordcloud 
workalendar 
wrapt 
xyzservices 
yarl 
zict 
zipp
sgp4
sip==4.19.13
